h1{
    font-size: 64px;
}
h1,h2{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Lato', sans-serif,;
}
.heading-center{
    h1{
        font-family: 'Luciano';       
    }
}
@media only screen and (min-width: 768px){
    .heading-center{
        h1{
            font-size: 120px;
        }
    }
 }