<header class="wrapper main">
  <navbar></navbar>     
</header>
<router-outlet></router-outlet>
<footer><div class="wrap">
  <div class="social">
    <a href="https://www.facebook.com/rebekah.chang.39"><i class="fa fa-facebook fb"></i></a>
    <a href="https://www.linkedin.com/in/rebekahchang92/"><i class="fa fa-linkedin tw"></i></a>
    <a href="https://www.instagram.com/rebekahchang92/?hl=en"><i class="fa fa-instagram ig"></i></a>
    <a href="https://github.com/hippogrammer"><i class="fa fa-github gh"></i></a>
  </div>
</div>
</footer>  
