<div class="heading-center container" style="padding-top:700px">
  <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6" style="height:300px">
            <img src="../assets/photofolio/1.jpg" height="250px" >
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
            <img src="../assets/photofolio/2.jpg" height="250px">
        </div>
       
       
    </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6" style="height:300px">
            <img src="../assets/photofolio/3.jpg" height="250px" >
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
            <img src="../assets/photofolio/4.jpg" height="250px">
        </div>
       
       
    </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6" style="height:300px">
            <img src="../assets/photofolio/5.jpg" height="250px" >
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
            <img src="../assets/photofolio/6.jpg" height="250px">
        </div>
       
       
    </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6" style="height:300px">
            <img src="../assets/photofolio/7.jpg" height="250px" >
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
            <img src="../assets/photofolio/8.jpg" height="250px">
        </div>
       
       
    </div>
 
     

</div>