.heading-center{
    h1{
        font-family: 'Luciano';
        color:white;
    }
    h2{
       font-family: 'Luciano';
       color:rgb(15, 10, 58);
       font-size:30px
    }
}
@media only screen and (min-width: 768px){
    .heading-center{
        h1{
            font-size: 89px;
        }
        h2{
            font-size:36px;
        }
   
    }
}