<div class="heading-center wedding-head">
<h1>JiangJun <a href="https://www.freelancer.com/u/dzheng0206"><img src="../assets/images/me.png"></a> <br></h1>
  <h2>01.Aug. 1988</h2>
</div>
<div class="wedding-content1">
  <h1> We're Engaged !</h1>
  <ul class="engagement">
    <li>
      <img src="../../../assets/images/march4.png" alt="march 4th" class="img-rounded" />
      <p>Date <i class="fa fa-calendar"></i></p>
    </li>
    <li class="toppadimg">
      <img src="../../../assets/images/engagement-ring.jpg" alt="pic of the ring" class="img-circle shadowimg" />
      <p>Ring <i class="fa fa-diamond"></i></p>
    </li>
    <li class="toppadimg">
      <img src="../../../assets/images/brooklynbridge.jpeg" alt="brooklyn bridge" class="img-rounded shadowimg" />
      <p> Location <i class="fa fa-globe"></i></p>
    </li>
  </ul>
</div>
<div class="wedding-content2" [ngStyle]="{background:getBackgroundImage('millenniumGate.jpg')}">
  <div class="weddingdates">
    <a class="linkstovenue" href="http://thegatemuseum.org/">
      <h1>Millennium Gate Museum</h1>
      <h2>September 30, 2017</h2>
    </a>
  </div>
</div>
<div class="wedding-content3">
  <div class="row">
    <div class="col-md-6">
      <img src="../../../assets/images/yaucouple.jpg" alt="yau couple">
    </div>
    <div class="col-md-6">
      <h1 align="center">Registries</h1>
      <ul class="registry-list">
        <li>
          <i class="fa fa-amazon" aria-hidden="true"></i> &nbsp;&nbsp;
          <a href="https://www.amazon.com/wedding/rebekah-chang-simmon-yau-atlanta-september-2017/registry/304S5J1ZMQ9IL"
            class="amazon-btn">&nbsp; Amazon &nbsp;</a></li>
        <li><i class="fa fa-heart" aria-hidden="true" style="color: lightseagreen;"></i> &nbsp;&nbsp;
          <a href="https://www.zola.com/registry/rebekahandsimmon" class="zola-btn">&nbsp;&nbsp;&nbsp;&nbsp;Zola&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        <li class="thanksbye"><span>Thanks for visiting!</span></li>
      </ul>
    </div>
  </div>
</div>